<footer>
    <div class="footerWrapper">
        <text style="padding-top: 7px;">Stories App</text>
        <div class="footerBottom">
            <a href="https://github.com/MrButak" target="_blank"><img src="/img/GitHub-Icon-White-Dark-Background-Logo.wine.svg" alt="Github icon"></a>
        </div>
        
    </div>
</footer>