<!-- header -->
<header class="menu">
    <div class="menu-wrap">
        <img src="prison-ptsd-logo-400x124.png" class="logo-img" alt="Logo">
        <img src="prison-ptsd-logo-400x124-mobile.png" class="mobile-logo-img" alt="Logo">
        <input type="checkbox" id="checkbox">
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </nav>
        <label for="checkbox">
            <i class="fa fa-bars menu-icon"></i>
        </label>
    </div>
</header>
