<h1>I'm the stories app</h1>
<p>Current user</p>

<div id="storyTitles">
    <% for (var i = 0; i < stories.length;  i++ ) { %>

        <p><%= stories[i]['title'] %></p>

        <% for (var j = 0; j < stories[i]['paragraphs'].length;  j++ ) { %>
            
            <p><%= stories[i]['paragraphs'][j][0] %></p>
        <% } %>

    <% } %>
        
</div>


<form method="post" action="/">        
    <textarea></textarea>
    <br>
    <input type="submit">
</form>   


