<h1>I'm the stories app</h1>
<p>Current user</p>

<div id="storyTitles"> 
    <% stories.forEach(function(story) { %>
        <form class="allBooksForm" method="post" action="/">        
            <input id="storyId" name = "storyId" type="hidden" value="<%= story['id'] %>"> 
            <input type="submit" value="<%= story['title'] %>">
        </form>   
    <% }); %>
</div>

<form method="post" action="/">        
    <textarea></textarea>
    <br>
    <input type="submit">
</form>   


