extends layout
block content

  h2 -Some Story Title- <!-- insert from db -->
  for para in ps
    ul
      li= para

  //- p #{ptext} 
  form(action="/", method="POST")
    p Add to story
    textarea(name="paragraph_input", cols="30", rows="8")
    br
    button(type="submit") Submit


  //- h2 Start a story
  //- form(action="/", method="POST")
  //-   p Story Title
  //-   input(name="story_title", type="text")
  //-   input(name="story_opening", type="textarea")
  //-   button(type="submit") Submit

//- input(name="paragraph_input", type="textarea")