extends layout 
block content 
    h1 Hey there guy. Login
    form(action='/login' method='POST')
        // user input
        | Username:
        br
        input(type='text' name='username' placeholder='Username' required='')
        br
        br
        |   &#x9;Password:
        br
        input(type='password' name='password' placeholder='Password' required='')
        br
        br
        // submit button
        input(type='submit' value='login')
    br
    p= errorMessage
    br
    p Not a member yet buddy? 
    a(href="/signup") Sign up here