<head>
    <%- include('../views/partials/head.ejs'); %>
</head>
<h2>Sign up</h2>

<div class="userFormWrapperMain">
    <div class="userFormWrapper">
        <form method="post" action="/signup" id="userForm">
            <div class="fieldLabelForm">
                <label for="username">Username</label>
                <input type="text" id="username" minlength="3" maxlength="14" name="username" pattern="[A-Za-z0-9]+" title="Username (letters and numbers only, no punctuation or special characters. Must be between 3-14 characters)" required>
            </div>
            <div class="fieldLabelForm">
                <label for="password">Password</label>
                <input type="password" id="password" minlength="6" maxlength="18" name="password" pattern="[A-Za-z0-9-_!@#$%^&*]+" title="Password (letters, numbers, and !@#$%^&*-_ characters. Must be bettween 6-18 characters)" required>
            </div>
            <input type="submit" value="signup">
            <p class="userFormBottomTxt">Already a member? <a href="/login">Login</p></a>
        </form>
        
    </div>
</div>

