<h2>Sign up</h2>

<form method="post" action="/signup">
  <!--<text>Username (letters and numbers only, no punctuation or special characters. Must be between 3-14 characters)</text>-->
  
  <label for="username">Username</label>

  <input type="text" id="username" minlength="3" maxlength="14" name="username" pattern="[A-Za-z0-9]+" title="Username (letters and numbers only, no punctuation or special characters. Must be between 3-14 characters)" required>

  <label for="password">Password</label>
  <!--<text>Password (letters, numbers, and -_!@#$%^&*() characters. Must be bettween 6-18 characters)</text>-->
  
  <input type="password" id="password" minlength="6" maxlength="18" name="password" pattern="[A-Za-z0-9-_!@#$%^&*()]+" title="Password (letters, numbers, and -_!@#$%^&*() characters. Must be bettween 6-18 characters)" required>

  <input type="submit" value="signup">
</form>

<p>Already a member? Login </p><a href="/login">here</a>
