

<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../views/partials/head.ejs'); %>
</head>

<body>
    <h2>Welcome to the story page</h2>
    <p>Current user: <%= currentUserName %></p>
    <a href="/logout">Logout</a>

    <h2><%= story['title'] %></h2>

    <% for (var i = 0; i < story['paragraphs'].length;  i++ ) { %>
        <p><%= story['paragraphs'][i]['content'] %></p>
    <% } %>

</body>
</html>
