/*style.css*/
/*mobile first*/


* {
    box-sizing: border-box;
    margin: 0px;
    
    /*univeral fluid text size*/
    font-size: 1.1875rem;
    font-size: clamp(1.1875rem, 1.175rem + 0.0625vw, 1.25rem);
}
* body {
    overflow-x: hidden;
    min-height: 100vh;
    background-color: lightgray;
}

/*Header start*/
header {
    background-color: black;
    padding: 10px 0;
    box-shadow: 0 1px 0 rgb(0 0 0 / 10%);
    
    
}
.menu-wrap {
    display: flex;
    justify-content: space-between;
    padding: 0px 35px 0px 0;
    /* anything besides 124px height will not work out with current layout */
    height: 124px;
}
.logo-img {
    max-width: 100%;
    height: auto;
    display: none;
}
.mobile-logo-img {
    max-width: 100%;
    height: auto;
    display: block;
    padding: 5px 10px;
}
.menu-icon {
    /* font-size: 2.4em; */
    color: white;
    line-height: 50px;
    padding-top: 40px;
}
nav {
    position: absolute;
    background-color: white;
    top: 143px;
    left:0;
    width: 100%; 
}
nav ul {
    list-style-type: none;
    max-height: 0px;
    overflow: hidden;
    transition: all .2s;
    
}
nav ul li {
    padding: 0 15px;
}
nav ul li a {
    display: inline-block;
    padding: 12px;
    color: black;
    text-decoration: none;
    letter-spacing: 0.05em;
}
nav ul li a:hover, nav ul li a:focus {
    color: #DB5F29;
}
#checkbox {
    display: none;
}
#checkbox:checked ~ nav ul {
    max-height: 190px;
    padding: 15px 0;
    transition: all 0.5s;
    border: 1px solid black;
    background-color: white;
}
/*Header end*/

/*footer start*/
.footerWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* position: absolute; */
    bottom: 0;
}
.footerTop {
    background-color: #2d2d2d;
    color: white;
    
}
.footerBottom {
    background-color: #171717;
    color: white;
    
}
/*footer end*/

/* home page styling */
.storyTitlesWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 15px;
}
#storyTitles {
    border: 1px solid black;
    padding: 10px;
    width: 90%;
    background-color: white;
}
.storyTitleText {
    text-align: center;
}
.addStoryWrapper {
    display: flex;
    max-width: 100px;
}

textarea {
    width: 90vw;
}

/* form styling */
.userFormWrapperMain {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}
.userFormWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: auto;
    border: 1px solid black;
    background-color: white;
    padding: 10px;
    
}
#userForm {
    display: block;
   
    width: 100%;
    height: 100%;
}
.fieldLabelForm {
    display: flex;
    flex-direction: column;
}
#username, #password {
    width: 95%;
    border: 1px solid black;
}
#password {
    margin-bottom: 14px;
}
.userFormBottomTxt {
    
    padding-top: 16px;
}
/*Tablet sizes---------------------------------------------------------*/
@media (min-width: 768px) {

    /*Header start*/
    .logo-img {
        max-width: 100%;
        height: auto;
        display: block;
        padding: 5px 10px;
    }
    .mobile-logo-img {
        max-width: 100%;
        height: auto;
        display: none;
    }
    .menu-icon {
        display: none;
    }
    nav {
        top: -10px;
        background-color: transparent; 
    }
    nav ul {
    max-height: 178px;
    padding: 55px 25px 0 0;
    
    align-items: center;
    text-align: right;
    /* font-size: 26px; */
    }
    nav ul li {
        display: inline-flex;
        padding: 0px;  
    }
    #checkbox:checked ~ nav ul {
        padding-top: 55px;
        border: none;
    }
    nav ul li a {
        color: #F0F0E4;
    }
    /*Header end*/
}
/*Desktop sizes*-----------------------------------------------------*/

@media (min-width: 1200px) { 

    /*Header start*/
    .logo-img {
        max-width: 100%;
        height: auto;
        display: block;
    }
    .mobile-logo-img {
        max-width: 100%;
        height: auto;
        display: none;
    }
    .menu-icon {
        display: none;
    }
    nav {
        top: -10px;
        background-color: transparent;
    }
    nav ul {
        max-height: 178px;
        padding: 55px 25px 0 0;;
        padding-right: 150px;
        align-items: center;
        text-align: right;
        /* font-size: 28px; */
    }
    nav ul li {
        display: inline-flex;
        padding-left: 20px;
    }
    
    .logo-img {
        max-width: 100%;
        height: auto;
        padding-left: 150px;
    }
    #checkbox:checked ~ nav ul {
        padding-top: 55px;
        padding-right: 150px;
        border: none;
    }
    
}
/*Header end*/